* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans MT';
    font-size: 16px;
  }

  .container {
      width: 100%;
      background-image: radial-gradient(rgba(16, 94, 35, 0.219), rgba(0, 0, 0, 0.4)), url(../images/banner.jpg);
      background-position: center;
      background-size: cover;
      position: absolute;
  }

  /* #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
} */

    /* Header section */
nav ul li {
      list-style: none;
      display: inline-block;
      margin: 0px 33px 0px 0px;
      position: relative;
  }
  nav ul li a:hover {
      color: bisque;
  }
  
  nav ul li a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: 15px;
  }
  
  nav ul li::after {
      content: ' ';
      height: 3px;
      width: 0;
      background: bisque;
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: .5s;
  }
  
  nav ul li:hover::after {
      width: 100%;
  }
  
  nav {
      width: 100%;
      padding: 18px 30px;
      display: flex;
      align-items: center;
      justify-content:space-around;
      position: fixed;
      z-index: 1;
  }
  
  .logo img {
      width: 50px;
      cursor: pointer;
  }

  .coname {
      text-transform: uppercase;
      color: white;
      font-size: 18px;
      position: center;
      margin-left: 20%;
      font-family: 'Trebuchet MS';
      cursor: pointer;
  }

  ul img {
    height: 20px;
  }
  /* End Header section */

  .form-box {
    width: 380px;
    height: 650px;
    position: relative;
    margin: 3% auto;
    background: #fff;
    padding: 6px;
    padding-top: 20px;
    border-radius: 15px;
    margin-top: 10%;
    overflow: hidden;
  }

  /*Button Slider from Client to Designer*/
  .slider-area {
    width: 240px;
	margin: 15px auto;
	position: relative;
	box-shadow: 7px 3px 7px rgba(28, 26, 148, 0.438);
    border-radius: 22px;
    background-color: rgb(66, 145, 125);
  }


  .slider-btns {
	  position: relative;
	  padding: 10px 30px;
	  background: transparent;
	  border: 0;
	  outline: none;
	  color:#fff;
    z-index: 1;
    cursor: pointer;
  }

  #btn { /*The one that will slide on a click event*/
	top: 0;
	left: 0;
	position: absolute;
	width: 130px;
	height: 100%;
	background: rgb(0, 0, 0);
	border-radius: 22px;
	transition: .5s;
	cursor: pointer;
  }

  .input-group {
    position: absolute;
    width: 280px;
    transition: .5s;
    padding-top: 80px;
    padding-left: 13px;
  }

  .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    border-left: 0;
    outline: none;
    background: transparent;
  }

  select {
    margin-left: 25px;
      border: none;
      border-bottom: 1px solid rgb(0, 0, 0);
      outline: none;
  }

  .submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    color:rgb(0, 0, 0);
    outline: none;
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(255,255,255);
  }

  .submit-btn:hover {
    background: black;
    transition: .5s;
    border: transparent;
    color: white;
  }

  p {
      color: black;
      font-size: 20px;
      margin-left: 150px;
      margin-top: 20px;
  }
  #register{
    left: 40px;
    top: 40px;
  }

  #login {
    left: 40px;
    top: 150px;
  }

  #designer-register {
	  top: 60px;
	  left: 450px;
  }


#display-errors, #display-db-errors{
    background: radial-gradient(rgba(7, 85, 109, 0.418), rgba(4, 5, 4, 0.541));
    position: absolute;
    border-radius: 6px;
    width: 350px;
    padding: 5px;
    margin-left: 70%;
    margin-top: 11%;
    transition: .5s;
    color: bisque;
  }

  #display-errors {
    display: none;
  }

  #display-db-errors {
    display: block;
  }

  #display-errors p, #display-db-errors p{
    color:inherit;
    font-size: 17px;
    margin-bottom: 15px;
    margin-left: 18px;
    margin-right: 15px;
    display: inherit;
  }

  #closebutton {
    margin-left: 15px;
    color: white;
    float: right;
    font-size: 22px;
    line-height: 8px;
    cursor: pointer;
    transition: 0.5s;
  }

  #closebutton:hover {
    color:rgb(233, 153, 153);
    transform: scale(1.25); 
    transform: rotate(180deg);
  }