a, body, div, footer, form, h1, h2, h3, h4, h5, h6,
header, html, i,  img,   label,  li,  nav,  ol,  p,  section,  
span,  strong, table, tbody, td, tfoot, th, tr,  ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* Mehr hinzufuegen */