@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: poppins;
    font-size: 12.5px;
}

/* Navigation section */
nav ul li {
	list-style: none;
	display: inline-block;
	margin: 0px 30px 0px 0px;
    position: relative;
}

nav ul li a:hover {
	color: bisque;
}

nav ul li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
}

nav ul li::after {
    content: ' ';
    height: 3px;
    width: 0;
    background: bisque;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: .5s;
}

nav ul li:hover::after {
	width: 100%;
}

nav {
	width: 100%;
	padding: 18px 30px;
	display: flex;
	align-items: center;
	justify-content:space-around;
    background-color: rgb(41, 50, 60);
    margin-bottom: 3%;
    z-index: 100;
    font-family: poppins;
}

.logo img, #logo img {
	width: 50px;
	cursor: pointer;
}

.coname {
	text-transform: uppercase;
	color: white;
	font-size: 18px;
	position: center;
	margin-left: 20%;
	font-family: 'Trebuchet MS';
	cursor: pointer;
}
ul img {
	margin-bottom: -10px;
	height: 30px;
	width: 30px;
	filter: hue-rotate(0.4turn) drop-shadow(7px 3px 7px rgba(102, 158, 107, 0.795));
}


ul img:hover {
	filter: drop-shadow(7px 3px 7px red) hue-rotate(0.4turn);
}
/*End of Navigation Section*/

.reqscontainer {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;
  }
  
  .reqscontainer .req {
    position: relative;
    width: 300px;
    height: 450px; 
    background: white;
    overflow: hidden;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 17px rgb(3, 16, 75);
    transition: .4s;
    margin-bottom: 100px;
  }

  /* .reqscontainer .req:hover {
    transform:translateY(-10px);
  } */

  .reqscontainer .req .circle {
    position: relative;
    height: 100%;
    width: 100%;
    background: black;
    clip-path: circle(80px at center 0);
    text-align: center;
    color: white;
    padding-top: 30px;
  }
  
  .reqscontainer .req .content {
    position: absolute;
    top: 80px;
    padding: 20px;
    text-align: left;
  }
  
  .reqscontainer .req .content button{
    padding: 10px 20px;
    background: black;
    color: white;
    border-radius: 40px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
  }

  .reqscontainer .req .content span {
      color: rgb(18, 175, 4);
  }

  .reqscontainer .reqimages img {
      width: 350px;
      height: 350px;
      border-radius: 20px;
      transition: .5s;
      margin: 0px 30px 30px 30px;
      cursor: pointer;
      outline: none;
  }

  .reqscontainer .reqimages p {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-weight: bolder;
      text-decoration: underline;
      font-size: 13px;
  }

 .reqscontainer .req:nth-child(even) .circle, .reqscontainer .req:nth-child(odd)  #assign {
    background: rgba(32, 90, 5, 0.753);
  } 

  .reqscontainer .req:nth-child(odd) .circle, .reqscontainer .req:nth-child(even)  #assign {
    background: rgba(68, 11, 68, 0.781);
  }


  #formelement {
    margin-left: 27%;
    margin-top: -15%;
    width: 60%;
    display: none;
    transition: .6s;
    }

  form {
    margin-top: 40px;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      background-image: radial-gradient(rgba(4, 0, 255, 0.281),rgba(0, 255, 234, 0.281) );
      border-radius: 12px;
      padding: 25px;
  }

  form #clientID, form #rqID { 
      pointer-events: none;
  }

  form #rqID {   /*Make field "invisible"*/
    height: 0px;
    width: 0px;
    background: transparent;
  }

  form #submitassign {
    padding: 6px 25px;
    background: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    outline: none;
  }

 #submitassign:hover {
    border: 1px rgba(68, 11, 68, 0.781);
    background: rgba(68, 11, 68, 0.781);
    color: white;
    transition:.5s;
    outline: none;
  }

  form input {
    border-radius: 7px;
      height: 26px;
      padding: 6px 20px;
      border: none;
      outline: none;
  }

  form label {
      line-height: 26px;
  }


  /* .reqscontainer .req hr {
      width: 76%;
      margin: initial 12% 500px 12%;
      top: 500px;
      color:rgb(18, 175, 4);
  } */

